<div class="app-card-container">
  <div class="card">
    <h1>who am i.</h1>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/13606886_10154379593878112_2650738590092296406_n.jpg?oh=5a01029bd0e501fb4fbd37752a8fdea6&oe=5AA45AC6", width: 300, alt: "Profile Image", class: 'profile-img' %>
        
        <div class="skills">
          <% @skills.each do |skill| %>
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div 
                class"progress-bar progress-bar-striped bg-success"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              >
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"        
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"        
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Co-Founder and VP CFO @ Sagebin
            </div>
            <div class="card card-block">
              Director, Retirement Planner @ Fidelity Investments
            </div>
          </div>

            <div class="collapse" id="education">
              <div class="card card-block">
              Bachelors UVU
            </div>
            <div class="card card-block">
              Bottega Tech
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


