<div class="app-card-container">
  <div class="card about">
    <h1>who am i.</h1>

    <%= render "shared/application_nav" %>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/13606886_10154379593878112_2650738590092296406_n.jpg?oh=5a01029bd0e501fb4fbd37752a8fdea6&oe=5AA45AC6", width: 300, alt: "Profile Image", class: 'profile-img' %>
        
       
      </div>

      <div class="col-md-8">
        <p>Motivated entrepreneur and programmer  with extensive business management and sales background. Solid experience building and implementing web applications and projects.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"        
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"        
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Co-Founder and VP CFO @ Sagebin
            </div>
            <div class="card card-block">
              Director, RP @ Fidelity Investments
            </div>
          </div>

            <div class="collapse" id="education">
              <div class="card card-block">
              Bachelors UVU
            </div>
            <div class="card card-block">
              Bottega Tech
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


