
      <main role="main" class="inner cover">
        <h1 class="cover-heading">welcome.</h1>
        <hr>
        <p class="lead">“if you’re going to try,
go all the way.
there is no other feeling like
that.
you will be alone with the gods
and the nights will flame with
fire.

<br>do it, do it, do it.
do it.<br>

all the way
all the way.<br>

you will ride life straight to
perfect laughter, its
the only good fight
there is.

– Charles Bukowski”</p>
 
 <hr>
        <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </main>

     

   
