// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: URL("https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/2012-01-10_22-53-20-nightscape.jpg/1920px-2012-01-10_22-53-20-nightscape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: center;
  font-family: sans-serif;
  color: white;
  padding-left: 5%;
}

.top a {
  color: red;
  float: left;
  padding-right: 20px;
}

.top {
  padding-left: 20%;
}